In [2]:
print ("Manikandan")

Manikandan

In [4]:
a=5
b=3
c=2
print ((a+b*b)/c)

7.0

In [6]:
a=5
b=3.5
c=3+5j
d='sumitha'
print (d)
for i in d:print (i)

sumitha
s
u
m
i
t
h
a

In [8]:
a="manikandan"
print(type (a))

<class 'str'>

In [9]:
a=40
print (type (a))

<class 'int'>

In [10]:
m=9.27
print (type(m))

<class 'float'>

In [13]:
k=5+6j
print(type(k))

<class 'complex'>

In [14]:
a=[9,8,7,6,5]
print(type(a))

<class 'list'>

In [16]:
m={"apple","mango"}
print(type(m))

<class 'set'>

In [17]:
l={3:2}
print(type(l))

<class 'dict'>

In [18]:
m=(1,2,3)
print(type(m))

<class 'tuple'>

In [21]:
a=[9,8,7,6,5]
print(type(a))
m={"apple","mango"}
print(type(m))
l={3:2}
print(type(l))
m=(1,2,3)
print(type(m))

<class 'list'>
<class 'set'>
<class 'dict'>
<class 'tuple'>

In [22]:
a="manikandan"
print(type (a))
a=40
print (type (a))
m=9.27
print (type(m))
k=5+6j
print(type(k))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>

In [23]:
a=[9,8,7,6,5]
print(type(a))
m={"apple","mango"}
print(type(m))
l={3:2}
print(type(l))
m=(1,2,3)
print(type(m))
a="manikandan"
print(type (a))
a=40
print (type (a))
m=9.27
print (type(m))
k=5+6j
print(type(k))

<class 'list'>
<class 'set'>
<class 'dict'>
<class 'tuple'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>

In [24]:
str(21)

'21'

In [28]:
print("He is{}years old".format(21))

He is21years old

In [29]:
str(-4.9)

'-4.9'

In [30]:
int(8.5)

8

In [31]:
int(13.2)+5

18

In [32]:
True==True

True

In [34]:
True!=False

True

In [35]:
name="moon"
if name=="moon":
    print("Hello,moon")

Hello,moon

In [36]:
name = 'Mike'
if name == 'Peter':
print('Hello, Peter.')
else:
print('Hello, anonymous')

IndentationError: expected an indented block (<ipython-input-36-95bb01101143>, line 3)

In [39]:
name ='Peter'
if name =='Peter':
 print('Hello, Peter')

Hello, Peter

In [40]:
name = 'Mike'
if name == 'Peter':
 print('Hello, Peter.')
else:
 print('Hello, anonymous')

Hello, anonymous

In [45]:
name = 'Mike'
age = 5
if name == 'Peter':
 print('Hi, Peter.')
elif age < 10:
 print('Your age is less than 10')

Your age is less than 10

In [46]:
name = 'Mike'
age = 5
if name == 'mike':
 print('Hi, mike.')
elif age < 10:
 print('Your age is less than 10')

Your age is less than 10

In [ ]:
var = 0
while var < 10:
 print('Hello, world.')
var = var + 10

In [ ]:
var = 0
while var < 10:
print('Hello, world.')
var = var + 1

In [ ]:
while True:
 print('This block of code is running...')
if var == 10:
break
var += 1
 print('Loop exited')

In [ ]:
var = 0
while var <= 10:
var += 1
if var == 5:
continue
print('This block of code is running for number... ', var)
print('Loop exited')